<openbox_menu>
    <menu id="some-custom-menu">
      <separator label="Panel" />
      <item label="Terminal">
        <action name="Execute" command="lab-sensible-terminal" />
      </item>
      <item label="Show Panel">
        <action name="Execute" command="hidepanel" />
      </item>
      <item label="Show Panel">
        <action name="Execute" command="showpanel" />
      </item>
    </menu>
</openbox_menu>    
